body {
  max-width: 740px;
  margin: auto;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

header, footer, div {
  padding-top: 6px;
  padding-bottom: 6px;
}
