body {
  max-width: 740px;
  margin: auto;
  padding: 6px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
